<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <div class="1st-bit">
                <h1 v-once>{{ title }}</h1>       
                <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
                <br>
                <a :href="link">Google</a></p>
                <hr>
                <p v-html="finishedLink"></p>
            </div>
            <hr>
            <div class="2nd-bit">
                <h2>Events</h2>
                <button v-on:click="increase(2, $event)"> Click me</button>
                <button v-on:click="counter++"> Click me</button>
                <p>{{ counter * 2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
                <p v-on:mousemove="updateCoordinates">
                    Coordinates: {{ x }} / {{ y }}
                    - <span v-on:mousemove.stop="">DEAD SPOT</span>
                </p>
                <input type="text" v-on:keyup.enter.space="alertMe">
                
                <hr>
                <h2>Two way data binding</h2>
                <input type="text" v-model="name">
                <p>{{ name }}</p>
            </div>
            <hr>
            <div class="reacting-to-changes">
                <button @click="counter++">increase</button>
                <button v-on:click="counter--">decrease</button>
                <button v-on:click="secondCounter++">Increase second</button>
                <p>Counter: {{ counter }} | {{ secondCounter }}</p>
                <p>Result: {{ result() }} | {{ output }}</p>
            </div>
            <hr>
            <div class="styling">
                <div 
                    class="demo" 
                    @click="attachRed = !attachRed"
                    :class="divClasses"></div>
                <div class="demo" :class="{red: attachRed}"></div>
                <div class="demo" :class="[color, {red: attachRed}]"></div>
                <hr>
                <input type="text" v-model="color">
                <input type="text" v-model="width">
                <hr>
                <div class="demo" :style="{backgroundColor: color}"></div>
                <div class="demo" :style="myStyle"></div>
                <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
            </div>
        </div>
    
    </body>
    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'Hello World!',
                name: 'Aurimas',
                link: 'http://google.com',
                finishedLink: '<a href="http://google.com">Google</a>',
                counter: 0,
                secondCounter: 0,
                x: 0,
                y: 0,
                attachRed: false,
                color: 'gray',
                width: 100
            },
            methods: {
                sayHello: function () {
                    this.title = 'Hello';
                    return this.title
                },
                increase: function(step, event) {
                    this.counter += step;
                },
                updateCoordinates: function (event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                },
                alertMe: function() {
                    alert('Alert!');
                },
                result: function() {
                    return this.counter > 5 ? 'Greater 5' : 'Smaller than 5';
                }
            },
            computed: {
                output: function() {
                    return this.counter > 5 ? 'Greater 5' : 'Smaller than 5';
                },
                divClasses: function() {
                    return {
                        red: this.attachRed,
                        blue: !this.attachRed
                    };
                },
                myStyle: function() {
                    return {
                        backgroundColor: this.color,
                        width: this.width + 'px'
                    };
                }
            },
            watch: {
                counter: function(value) {
                    var vm = this;
                    setTimeout(function() {
                        vm.counter = 0;
                    }, 2000);
                }
            }
        })
    </script>
</html>
