<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <p v-if="show">You can see me!</p>
            <p v-else>Now you see me!</p>
            <template v:if="show">
                <h1>Heading</h1>
                <p>Inside a template</p>
            </template>
            <p v-show="show">Do you also see me?</p>
            <button @click="show = !show">Switch</button>

            <br>

            <ul>
                <li v-for="ingredient in ingredients">{{ ingredient }}</li>
            </ul>
        </div>
    </body>
    <script>
        new Vue({
            el: '#app',
            data: {
                show: true,
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: 'Aurimas', age: '29', color: 'green'},
                    {name: 'Anna', age: 'unknown', color: 'blue'}
                ]
            }
        });
    </script>
</html>

